.row
  .12u
    / Portfolio
    %section
      %header.major
        %h2 Disciplinas
      .row
        .3u{:class => "12u(mobile)"}
          %section.box
            %a.image.featured{:href => "#"}
              = image_tag "fitness.png"
            %header
              %h3 Fitness
            %p Lorem ipsum dolor sit amet sit veroeros sed amet blandit consequat veroeros lorem blandit  adipiscing et feugiat phasellus tempus dolore ipsum lorem dolore.
        .3u{:class => "12u(mobile)"}
          %section.box
            %a.image.featured{:href => "#"}
              = image_tag "pic03.jpg"
            %header
              %h3 Slalom
            %p Lorem ipsum dolor sit amet sit veroeros sed amet blandit consequat veroeros lorem blandit  adipiscing et feugiat phasellus tempus dolore ipsum lorem dolore.
        .3u{:class => "12u(mobile)"}
          %section.box
            %a.image.featured{:href => "#"}
              = image_tag "pic04.jpg"
            %header
              %h3 FreeSkate
            %p Lorem ipsum dolor sit amet sit veroeros sed amet blandit consequat veroeros lorem blandit  adipiscing et feugiat phasellus tempus dolore ipsum lorem dolore.
        .3u{:class => "12u(mobile)"}
          %section.box
            %a.image.featured{:href => "#"}
              = image_tag "pic04.jpg"
            %header
              %h3 Velocidad
            %p Lorem ipsum dolor sit amet sit veroeros sed amet blandit consequat veroeros lorem blandit  adipiscing et feugiat phasellus tempus dolore ipsum lorem dolore.
.row
  .12u
    / Blog
    %section
      %header.major
        %h2 Clases
      .row
        .6u{:class => "12u(mobile)"}
          %section.box
            %a.image.featured{:href => "#"}
              = image_tag "pic08.jpg"
            %header
              %h3 Individuales
            %p Lorem ipsum dolor sit amet sit veroeros sed et blandit consequat sed veroeros lorem et blandit  adipiscing feugiat phasellus tempus hendrerit, tortor vitae mattis tempor, sapien sem feugiat sapien, id suscipit magna felis nec elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos lorem ipsum dolor sit amet.
        .6u{:class => "12u(mobile)"}
          %section.box
            %a.image.featured{:href => "#"}
              = image_tag "pic09.jpg"
            %header
              %h3 Grupales
            %p Lorem ipsum dolor sit amet sit veroeros sed et blandit consequat sed veroeros lorem et blandit  adipiscing feugiat phasellus tempus hendrerit, tortor vitae mattis tempor, sapien sem feugiat sapien, id suscipit magna felis nec elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos lorem ipsum dolor sit amet.
