.row
  .12u
    / Portfolio
    %section
      %header.major
        %h2 My Portfolio
      .row
        .4u{:class => "12u(mobile)"}
          %section.box
            %a.image.featured{:href => "#"}
              = image_tag "pic02.jpg"
            %header
              %h3 Ipsum feugiat et dolor
            %p Lorem ipsum dolor sit amet sit veroeros sed amet blandit consequat veroeros lorem blandit  adipiscing et feugiat phasellus tempus dolore ipsum lorem dolore.
            %footer
              %a.button.alt{:href => "#"} Find out more
        .4u{:class => "12u(mobile)"}
          %section.box
            %a.image.featured{:href => "#"}
              = image_tag "pic03.jpg"
            %header
              %h3 Sed etiam lorem nulla
            %p Lorem ipsum dolor sit amet sit veroeros sed amet blandit consequat veroeros lorem blandit  adipiscing et feugiat phasellus tempus dolore ipsum lorem dolore.
            %footer
              %a.button.alt{:href => "#"} Find out more
        .4u{:class => "12u(mobile)"}
          %section.box
            %a.image.featured{:href => "#"}
              = image_tag "pic04.jpg"
            %header
              %h3 Consequat et tempus
            %p Lorem ipsum dolor sit amet sit veroeros sed amet blandit consequat veroeros lorem blandit  adipiscing et feugiat phasellus tempus dolore ipsum lorem dolore.
            %footer
              %a.button.alt{:href => "#"} Find out more
      .row
        .4u{:class => "12u(mobile)"}
          %section.box
            %a.image.featured{:href => "#"}
              = image_tag "pic05.jpg"
            %header
              %h3 Blandit sed adipiscing
            %p Lorem ipsum dolor sit amet sit veroeros sed amet blandit consequat veroeros lorem blandit  adipiscing et feugiat phasellus tempus dolore ipsum lorem dolore.
            %footer
              %a.button.alt{:href => "#"} Find out more
        .4u{:class => "12u(mobile)"}
          %section.box
            %a.image.featured{:href => "#"}
              = image_tag "pic06.jpg"
            %header
              %h3 Etiam nisl consequat
            %p Lorem ipsum dolor sit amet sit veroeros sed amet blandit consequat veroeros lorem blandit  adipiscing et feugiat phasellus tempus dolore ipsum lorem dolore.
            %footer
              %a.button.alt{:href => "#"} Find out more
        .4u{:class => "12u(mobile)"}
          %section.box
            %a.image.featured{:href => "#"}
              = image_tag "pic07.jpg"
            %header
              %h3 Dolore nisl feugiat
            %p Lorem ipsum dolor sit amet sit veroeros sed amet blandit consequat veroeros lorem blandit  adipiscing et feugiat phasellus tempus dolore ipsum lorem dolore.
            %footer
              %a.button.alt{:href => "#"} Find out more
.row
  .12u
    / Blog
    %section
      %header.major
        %h2 The Blog
      .row
        .6u{:class => "12u(mobile)"}
          %section.box
            %a.image.featured{:href => "#"}
              = image_tag "pic08.jpg"
            %header
              %h3 Magna tempus consequat lorem
              %p Posted 45 minutes ago
            %p Lorem ipsum dolor sit amet sit veroeros sed et blandit consequat sed veroeros lorem et blandit  adipiscing feugiat phasellus tempus hendrerit, tortor vitae mattis tempor, sapien sem feugiat sapien, id suscipit magna felis nec elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos lorem ipsum dolor sit amet.
            %footer
              %ul.actions
                %li
                  %a.button.icon.fa-file-text{:href => "#"} Continue Reading
                %li
                  %a.button.alt.icon.fa-comment{:href => "#"} 33 comments
        .6u{:class => "12u(mobile)"}
          %section.box
            %a.image.featured{:href => "#"}
              = image_tag "pic09.jpg"
            %header
              %h3 Aptent veroeros et aliquam
              %p Posted 45 minutes ago
            %p Lorem ipsum dolor sit amet sit veroeros sed et blandit consequat sed veroeros lorem et blandit  adipiscing feugiat phasellus tempus hendrerit, tortor vitae mattis tempor, sapien sem feugiat sapien, id suscipit magna felis nec elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos lorem ipsum dolor sit amet.
            %footer
              %ul.actions
                %li
                  %a.button.icon.fa-file-text{:href => "#"} Continue Reading
                %li
                  %a.button.alt.icon.fa-comment{:href => "#"} 33 comments
