!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title NMR Escuela de Rollers
    %meta{:charset => "utf-8"}/
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    %meta(name="description" content="NMR Escuela de Roller, Profesor Nicolas Sappia Pinto")/
    %meta(name="keywords" content="roller, slalom, nmr, rosedal, escuela, escuela de roller, profesor de roller, puerto madero, olivos, vicente lopez, nordelta, freestyle slalom, fitness, freeskate")/
    /[if lte IE 8] <script src="assets/js/ie/html5shiv.js"></script>
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => false
    /[if lte IE 8] <link rel="stylesheet" href="assets/css/ie8.css" />
  %body.homepage
    #page-wrapper
      #header-wrapper= render 'shared/header'
      #main-wrapper
        .container= yield
      #footer-wrapper= render 'shared/footer'
    = javascript_include_tag 'application', 'data-turbolinks-track' => false
    /[if lte IE 8] <script src="assets/js/ie/respond.min.js"></script>
